.dirs-list {
    margin: 0;
    padding: 10px;
    min-width: 100px;
}

.list-item{
    font-size: 1.1em;
    text-align: left;
    margin: 0;
    display: flex;
}

.item-box{
    /*color: #ACACB0;*/
    display: flex;
    width: max-content;
    /*background-color: #2C2C3E;*/
    margin-bottom: 5px;
    padding: 10px 5px;
    border-bottom: 1px solid #000;
    justify-content: space-between;
    padding-right: 100px;
    position: relative;
}
.item-box:hover{
    /*background-color: #48387E;*/
}

.invisible{
  display: none;
}

.non-visible{
    display: none;
}



.action-btn{
    position: relative;
    top: 3px;
    display: none;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    margin-left: 5px;
}

.item-box:hover .action-btn{
    display: block;
}

.action-blocks{
    display: flex;
    position: absolute;
    right: 0;
}

.del-btn{

    background-image: url("media/delete.svg");

}

.add-btn{
    background-image: url("media/add.svg");
}

.change-btn{
    background-image: url("media/change.svg");
}


/*PopUp's*/

.popup{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    width: 400px;
    top: 30%;
    left: calc(50% - 200px);
    position: absolute;
    padding: 20px;
}

.popup form{
}

.add-form{

}

.add-box input{
    margin-bottom: 10px;
}

.but-box{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px ;
}
